{
  parser: "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "rules": {
    "max-len": [1, 80, 2, {ignoreComments: true}],
    "no-unused-vars": [1]
  }
}