{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "max-len": [1, 80, 2, {"ignoreComments": true}],
    "no-unused-vars": [1]
  }
}