{% import "./_mixins.njk" as mixins %}
<!DOCTYPE html>
<html>
<head>
  {% include "layouts/_head.njk" %}
</head>
<body>

<!-- BEGIN content -->
<div class="out">
  <!-- header -->
  {% include "../partials/_header.njk" %}
  <!-- page content -->
  {% block content %}{% endblock %}
</div>
<!-- END content -->

<!-- footer -->
{% include "../partials/_footer.njk" %}

<!-- BEGIN scripts -->
<script type="text/javascript" src="js/app.js"></script>
<script src="js/vendors/polyfill.object-fit.min.js"></script>
<script>
  // Call polyfill to fit in images
  objectFit.polyfill({
    selector: 'img',
    fittype: 'cover'
  });
</script>
<!-- END scripts -->

</body>
</html>