{% import "./_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
<head>
    {% include "layouts/_head.html" %}
</head>
<body>

<!-- BEGIN content -->
<div class="out">
    <!-- page content -->
    <div class="l-content">
        {% block content %}{% endblock %}
    </div>
</div>
<!-- END content -->

<!-- footer -->
{% include "../blocks/_footer.html" %}

<!-- BEGIN scripts -->
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->

</body>
</html>